*mangle
:PREROUTING ACCEPT [311678:174982603]
:INPUT ACCEPT [113668:24782073]
:FORWARD ACCEPT [197715:150140025]
:OUTPUT ACCEPT [143442:147755059]
:POSTROUTING ACCEPT [330916:296277072]

# forward for output ipsec connection
-A FORWARD -s {{ ip_local }} -o {{ interface }} -p tcp -m policy --dir in --pol ipsec -m tcp --tcp-flags SYN,RST SYN -m tcpmss --mss 1361:1536 -j TCPMSS --set-mss 1360
COMMIT

*filter
:INPUT DROP [2184:369411]
:FORWARD DROP [1462:152353]
:OUTPUT DROP [694:52888]

# localhost Accept
-A INPUT -i lo -j ACCEPT
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A OUTPUT -m state --state RELATED,ESTABLISHED -j ACCEPT

# Port's for IPSEC 500 / 4500
-A INPUT -p udp -m udp --dport 500 -j ACCEPT
-A INPUT -p udp -m udp --dport 4500 -j ACCEPT
-A OUTPUT -p udp -m udp --dport 500 -m state --state NEW -j ACCEPT
-A OUTPUT -p udp -m udp --dport 4500 -m state --state NEW -j ACCEPT
-A OUTPUT -m policy --dir out --pol ipsec -j ACCEPT

# Access ssh input
-A INPUT -s 10.200.0.0/16 -p tcp -m tcp --dport {{ ssh_port }} -m state --state NEW,ESTABLISHED -j ACCEPT
-A OUTPUT -d 10.200.0.0/16 -p tcp -m tcp --sport {{ ssh_port }} -m state --state ESTABLISHED -j ACCEPT

# forward for output ipsec connection
-A FORWARD -s {{ ip_local }} -m policy --dir in --pol ipsec --proto esp -j ACCEPT
-A FORWARD -d {{ ip_local }} -m policy --dir out --pol ipsec --proto esp -j ACCEPT
-A FORWARD -i {{ interface }} -m policy --dir in --pol ipsec --proto esp -j ACCEPT
-A FORWARD -o {{ interface }} -m policy --dir out --pol ipsec --proto esp -j ACCEPT

# http and dns => for APT UPDATE
-A OUTPUT -p tcp -m tcp --dport 80 -m state --state NEW -j ACCEPT
-A OUTPUT -p tcp -m tcp --dport 53 -m state --state NEW -j ACCEPT
-A OUTPUT -p udp -m udp --dport 53 -m state --state NEW -j ACCEPT
COMMIT

# Completed on Fri Feb  2 20:55:58 2024
# Generated by iptables-save v1.8.7 on Fri Feb  2 20:55:58 2024

*nat
:PREROUTING ACCEPT [5336:1407967]
:INPUT ACCEPT [69:23769]
:OUTPUT ACCEPT [866:64412]
:POSTROUTING ACCEPT [172:11524]
-A POSTROUTING -s {{ ip_local }} -o {{ interface }} -m policy --dir out --pol ipsec -j ACCEPT
-A POSTROUTING -s {{ ip_local }} -o {{ interface }} -j MASQUERADE
COMMIT

# Completed on Fri Feb  2 20:55:58 2024
